.content-container {
    margin-top: 50px;
}

.shape-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.shape-image {
    width: 100px;
    height: 100px;
    margin-left: -40px;
}

.shape-input {
    width: 200px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.form-control:focus {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.5)

}

.label-text{
    color: white;
}

#resultado {
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(36, 255, 109);
}